<section class="jumbotron text-center">
  <div class="container">
    <h1>Admin Page</h1>
  </div>
</section>

<h1>Create Product</h1>

<form action="/" method="POST">
  <div class="form-row">

      <label class="col-sm-2 col-form-label"  for="name">Name of Product:</label >
    <div class="col-sm-10">
      <input type="text" name="name">
    </div>

      <label class="col-sm-2 col-form-label"  for="price">Price:</label >
    <div class="col-sm-10">
      <input type="text" name="price">
    </div>

      <label class="col-sm-2 col-form-label"  for="inStock">Quantity:</label >
    <div class="col-sm-10">
      <input type="text" name="inStock">
    </div>
      <label class="col-sm-2 col-form-label" for="image">Image URL:</label >
    <div class="col-sm-10">
      <input type="text" name="image">
    </div>
      <label class="col-sm-2 col-form-label" for="category">Choose a Category:</label >
    <div class="col-sm-3">
      <select id="category" name="category" class="form-control">
        <option value="Desktop">Desktop</option>
        <option value="Laptop">Laptop</option>
        <option value="TV">TV</option>
        <option value="Watch">Watch</option>
        <option value="Accessories">Accessories</option>
           <option value="Mobile phones">Mobile phones</option>
        
      </select>
    </div>
    <div class="col-sm-10">
    <button type="submit" class="btn btn-primary" name="create">Sign in</button>
    </div>
  </div>
</form>
</div>
<p>{{success}}</p>
<p>{{err}}</p>

<h1>Products</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col">instock</th>
      <th scope="col">image</th>
      <th scope="col">Category</th>
      <th scope="col">timeUploaded</th>

    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.price}}</td>
      <td>{{this.inStock}}</td>
      <td>{{this.image}}</td>
      <td>{{this.category}}</td>
      <td>{{this.timeUploaded}}</td>
      <td><button type="button" class="btn btn-indigo btn-sm m-0">Edit</button></td>
      <td><button type="button" class="btn btn-indigo btn-sm m-0">Delete</button></td>
    </tr>
    {{/each}}

  </tbody>
</table>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
      <th scope="col">Email</th>
      <th scope="col">Phone Number</th>
      <th scope="col">password</th>
     

    </tr>
  </thead>
  <tbody>
    {{#each user}}
    <tr>
      <th scope="row">{{this._id}}</th>
      <td>{{this.name}}</td>
      <td>{{this.age}}</td>
      <td>{{this.email}}</td>
      <td>{{this.phoneNumber}}</td>
      <td>{{this.password}}</td>
     
      <td><button type="button" class="btn btn-indigo btn-sm m-0">Edit</button></td>
      <td><button type="button" class="btn btn-indigo btn-sm m-0">Delete</button></td>
    </tr>
    {{/each}}

  </tbody>
</table>