<head>
  <link rel="stylesheet" href="Desktop.css">
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>

</head>
<main>
  <section class="jumbotron text-center">
    <div class="container">
      <h1>Desktops</h1>
      <p class="lead text-muted">Desktops for every use from gaming to office work.</p>
    </div>

    <head>
      <link rel="stylesheet" href="style.css">
    </head>

    <ul class="nav justify-content-center">
      <li class="nav-item1">
        <div class="desktop">
          <span style="font-size: 40px;">
            <i class="fas fa-desktop"></i>
          </span>
          <a class="nav-link" href="/Desktop">Desktop</a>
      </li>
      </div>

      <li class="nav-item1">
        <span style="font-size: 40px;">
          <i class="fas fa-laptop"></i>
        </span>
        <a class="nav-link" href="/Laptop">Laptop</a>
      </li>

      <li class="nav-item1">
        <span style="font-size: 40px;">
          <i class="fas fa-tv"></i>
        </span>
        <a class="nav-link" href="Tv">TV</a>
      </li>

      <li class="nav-item1">
        <span style="font-size: 40px;">
          <i class="fas fa-mobile"></i>
        </span>
        <a class="nav-link" href="/Mobile-Phones">Mobile phone</a>
      </li>

      <li class="nav-item1">
        <span style="font-size: 40px;">
          <i class="fas fa-tablet"></i>
        </span>
        <a class="nav-link" href="/Tablet">Tablet</a>
      </li>

      <li class="nav-item1">
        <img width="64" height="64" src="https://www.flaticon.com/svg/static/icons/svg/617/617656.svg"
          alt="Smartwatch free icon" title="Smartwatch free icon" class="loaded">
        <a class="nav-link" href="/Watch">Smart watch</a>
      </li>

      <li class="nav-item1">
        <span style="font-size: 40px;">
          <i class="fas fa-headphones"></i>
        </span>
        <a class="nav-link" href="/Accessories">Accessories</a>
      </li>

    </ul>
  </section>

  <body>
    <div class="container">
      <div class="row row-cols-3">
        {{#each products}}
        <div class="col" key={{this._id}}>
          <img src="{{this.image}}" alt="" srcset="" width="100%" height="225">
          <p>{{this.name}}</p>
          <p>Quantity:{{this.inStock}}</p>

          <p>£{{this.price}}</p>
          <div class="btn-group">
            <div class="btn-group">
            </div>
            <a href="#" data-name="{{this.name}}" data-price="{{this.price}}" class="add-to-cart btn btn-primary">Add to
              cart</a>
          </div>
        </div>
        {{/each}}
  </body>
</main>