<head>
    <link rel="stylesheet" href="Desktop.css">
</head>
<main>
    <section class="jumbotron text-center">
        <div class="container">
            <h1>Desktops</h1>
            <p class="lead text-muted">Desktops for all uses from gaming to office work, see products below.</p>
        </div>
        {{> categoryNav}}
    </section>

    <body>
        <div class="container">
            <div class="row row-cols-3">
                {{#each products}}
                <div class="col" key={{this._id}}>
                    <img src="{{this.image}}" alt="" srcset="" width="100%" height="225">
                    <p>{{this.name}}</p>
                    <p>Quantity:{{this.inStock}}</p>
                    <p>£{{this.price}}</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Add to Basket</button>
                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </body>
</main>
<footer>
    <p>this is the footer.</p>
</footer>