<head>
    <link rel="stylesheet" href="Mobile-Phones.css">
</head>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Mobile Phones</h1>
            <p class="lead text-muted">Latest brands and devices for your convenience, Take a look below.</p>
        </div>
        {{> categoryNav}}
    </section>


    <body></body>
    <div class="container">
        <div class="row row-cols-3">
            {{#each products}}
            <div class="col" key={{this._id}}>
                <img src="{{this.image}}" alt="" srcset="" width="100%" height="225">
                <p>{{this.name}}</p>
                <p>Quantity:{{this.inStock}}</p>
                <p>£{{this.price}}</p>
                <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">Add to Basket</button>
                </div>
            </div>
            {{/each}}

        </div>
    </div>
    </body>
</main>
<footer>
    <div class="card">
        <div class="card-header">
            YourTech © 2020
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Designed by the lads from DDL.</p>
                <footer class="blockquote-footer">John , Shaun , Yusuf <cite title="Source Title">-S-O-T</cite>
                </footer>
            </blockquote>
        </div>
    </div>
</footer>