<head>
    <link rel="stylesheet" href="Tablet.css">
</head>
<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Tablets</h1>
            <p class="lead text-muted">Tablets for those days you need to be on the move.</p>
        </div>
        {{> categoryNav}}
    </section>


    <body>
        <div class="container">
            <div class="row row-cols-3">

                {{#each products}}
                <div class="col">



                    <div class="product">
                        <img src="{{this.image}}" alt="" srcset="" width="300" height="225">
                    </div>
                    <div class="description">
                        <p>{{this.name}}</p>
                        <p>£{{this.price}}</p>
                    </div>

                    <p>Quantity:{{this.inStock}}</p>
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" id="checkout-button">Buy
                            Now</button>
                    </div>
                    <div class="btn-group">

                        <a href="#" data-name="{{this.name}}" data-price="{{this.price}}"
                            class="add-to-cart btn btn-primary">Add to cart</a>
                    </div>
                </div>
            </div>
            {{/each}}
    </body>
</main>